.about-content {
    width: 80vw;
    margin: 85px auto 50px auto;
}

.about-text {
    font-size: 1.25rem;
    text-align: justify;
}

@media screen and (min-width: 1440px) {
    .about-text {
        font-size: 1.5rem;
    }
}