.cardButton {
    width: 60%;
}

.cardList {
    width: 90%;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: space-around;
}

.cards {
    width: 22rem;
    border: 1px solid lightgray;
    margin-block: 10px;
    font-size: 18px;
}

.cardText {
    text-align: justify;
}

.titleLink {
    text-decoration: none;
    color: black;
    font-size: 30px;
}

@media only screen and (max-width: 499px) { }
 
@media only screen and (min-width: 500px) and (max-width: 1439px) { }
 
@media only screen and (min-width: 1440px) { 
    .cards {
        width: 24rem;
        font-size: 1.125rem;
    }
}