.timelineComponent {
    background-color: bisque;
}

.timelineContent {
    margin: 25px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.timelineElement {
    padding-inline: 10px;
}

.vertical-timeline-element-content {
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.25), 0, 0.4em, 1.25em 0 rgba(0, 0, 0, 0.15) !important;
}