.timeline {
    width: 90vw;
    margin: auto;
    background-color: bisque;
}

.timelineContent {
    margin: 25px auto 50px auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.timelineElement {
    padding-inline: 10px;
}

.timelineTitle {
    font-family: cursive;
    font-size: 2.875rem;
    color: sienna;
    padding-bottom: 10px;
}