.facebook-logo{
  width: 50px;
  margin: 10px auto auto auto;
}

.home-content {
  margin: 100px auto 50px auto;
}

.home-images {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.home-info {
  width: 99vw;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.home-info-item {
  width: 50vw;
  padding-block: 10px;
}

.home-info-subtitle {
  font-family: cursive;
}

.home-info-text {
  margin: auto;
  font-size: 1.625rem;
}

.home-info-text a {
  text-decoration: none;
  color: black;
}

.home-info-text a:hover {
  text-decoration: underline;
  color:bisque;
}

.home-pic {
  width: 22vw;
}

.home-stars {
  width: 10rem;
}

.home-subtitle {
  margin-top: 10px;
  font-size: 2.5rem;
}

.home-title {
  font-family: cursive;
  font-size: 4.675rem;
  font-style: italic;
  color: sienna;
}

.home-testimonials {
  width: 90vw;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.home-quote {
  width: 35rem;
  padding-top: 10px;
  padding-inline: 10px;
  text-align: justify;
  font-size: 1.125rem;
}

.tagline {
  margin-top: 10px;
  font-size: 1.875rem;
}

.testimonial-link {
  text-decoration: none;
  color: black;
}

.testimonial-link:hover {
  text-decoration: underline;
  color: sienna;
}

#home-contact {
  background-color: sienna;
}

#home-location {
  background-color: bisque;
}

@media screen and (max-width: 699px) {
  .home-info-text {
    font-size: 1rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 1249px) {
  .home-quote {
      width: 90vw;
  }
}

@media screen and (min-width: 1440px) {
  .facebook-logo{
    width: 3.75rem;
  }

  .home-info-text {
    font-size: 1.875rem;
  }
  
  .home-subtitle {
    font-size: 3.125rem;
  }
  
  .home-title {
    font-size: 5.625rem;
  }

  .home-quote {
    width: 40rem;
    font-size: 1.375rem;
  }

  .tagline {
    font-size: 2.25rem;
  }
}