.homeContent {
  margin: 25px auto;
}

.homeImages {
  width: 80vw;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.homeInfo {
  display: flex;
  flex-direction: row;
}

.homeInfoItem {
    width: 50vw;
    padding-block: 10px;
}

.homeInfoSubtitle {
  font-family: cursive;
}

.homeInfoText {
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.homeInfoText a {
  text-decoration: none;
  color: black;
}

.homeInfoText a:hover {
  text-decoration: underline;
  color:bisque;
}

.homePic {
  width: 22vw;
}

.homeTitle {
    font-family: cursive;
    font-size: 75px;
    font-style: italic;
    color: sienna;
}

.tagline {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

#homeContact {
  background-color: sienna;
}

#homeLocation {
  background-color: bisque;
}

@media screen and (max-width: 499px) { }

@media screen and (min-width: 500px) and (max-width: 1439px) { }

@media screen and (min-width: 1440px) {
  .homeTitle {
    font-size: 90px;
  }
}