.testimonialContent {
    margin: 25px auto 50px auto;
}

.testimonials {
    width: 90vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

.testimonialStars {
    width: 10rem;
}
  
.testimonialQuote {
    width: 35rem;
    padding-top: 10px;
    padding-inline: 10px;
    text-align: justify;
    font-size: 22px;
 }

@media screen and (max-width: 499px) {
    .testimonialQuote {
        width: 15rem;
    }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
    .testimonialQuote {
        width: 27rem;
    }
}

@media screen and (min-width: 1440px) { 
    .testimonialQuote {
        width: 40rem;
        font-size: 25px;
    }
}