.nav {
   background-color:white;
}

.navBrand {
   font-size: 30px;
   color: black;
}

.navBrand:hover {
   text-decoration: underline;
   color: sienna;
}

.navContainer {
   width: 100vw;
   margin: auto;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navLink {
   text-decoration: none;
   font-size: 25px;
   color: black;
}

 .navLink:hover {
   text-decoration: underline;
   color: sienna;
 }

 .navLink:hover {
   text-decoration: underline;
 }