.nav {
   background-color:white;
}

.navBrand {
   font-size: 2rem;
   color: black;
}

.navBrand:hover {
   text-decoration: underline;
   color: sienna;
}

.navContainer {
   width: 100vw;
   margin: auto;
}

.navLink {
   text-decoration: none;
   font-size: 1.625rem;
   color: black;
}

 .navLink:hover {
   text-decoration: underline;
   color: sienna;
 }

 .navLink:hover {
   text-decoration: underline;
 }

@media screen and (min-width: 1440px) {
   .navBrand {
      font-size: 2.25rem;
   }

   .navLink {
      font-size: 1.875rem;
   }
}