.nav {
   background-color:white;
}

.nav-brand {
   font-size: 2rem;
   color: black;
}

.nav-brand:hover {
   text-decoration: underline;
   color: sienna;
}

.nav-container {
   width: 100vw;
   margin: auto;
}

.nav-link {
   text-decoration: none;
   font-size: 1.625rem;
   color: black;
}

 .nav-link:hover {
   text-decoration: underline;
   color: sienna;
 }

 .nav-link:hover {
   text-decoration: underline;
 }

@media screen and (min-width: 1440px) {
   .nav-brand {
      font-size: 2.25rem;
   }

   .nav-link {
      font-size: 1.875rem;
   }
}