.bottom {
   display: flex;
   justify-content: space-around;
   width: 100vw;
   margin: auto;
   background-color: white;
   padding-block: 10px;
   position: fixed;
   bottom: 0;
 }

.footer-item {
   margin: auto;
   font-size: 1rem;
}

@media only screen and (max-width: 499px) {
   .footer-item {
      font-size: 0.625rem;
   }
}

@media only screen and (min-width: 1440px) {
   .footer-item {
      font-size: 1.125rem;
   }
}