.error-code {
    font-size: 6.25rem;
    color: sienna;
}

.error-message {
    font-size: 2.5rem;
}

.error-text {
    font-size: 1.25rem;
}

.error-content {
    margin-top: 85px;
}

.error-display {
    margin-top: 160px;;
}