.errorCode {
    font-size: 6.25rem;
    color: sienna;
}

.errorMessage {
    font-size: 2.5rem;
}

.errorText {
    font-size: 1.25rem;
}

.errorContent {
    margin-top: 85px;
}

.errorDisplay {
    margin-top: 160px;;
}